<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mission to Mars</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
      <!-- Set container for entire page -->
      <div class="container-fluid">
         <div class="jumbotron text-center">
            <h2>Mission to Mars</h2>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
         </div>
         <!-- Set section for Step 1 Mars News -->
         <h3>Latest Mars News</h3>
         <h4>{{ dict.news_title }}</h4>
         <p>{{ dict.news_p }}</p>
         <!-- Set section for Step 2 Featured Image -->
         <div>
            <h2>Feature Mars Image</h2>
            <p>{{ dict.featured_image_url }}</p>
            <img alt="Featured Image" src="{{ dict.featured_image_url }}" width=500" height="500">
         </div>
         <div>
            <!-- Set section for Step 4: dynamically creating images and text for each hemisphere -->
            <div class="row">
               {% for img in dict.hemisphere_image_urls %}
               <div class="col-lg-3 col-md-6 card-deck">
                  <div class="card bg-light mb-3" >
                     <img class="card-img-top" src="{{ img.img_url}}" alt="Card image cap">
                     <div class="card-body">
                        <h5 class="card-title">{{ img.title }}</h5>
                        <p class="card-text">Some quick example text to build on the {{ img.title }} and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Full Size Image</a>
                     </div>
                  </div>
               </div>
               {% endfor %} 
            </div>
         </div>
      </div>
   </body>
</html>